In [4]:
# Problem 1 - Sorting:
# 3.1 Warm Up Exercises:
# 1. Sorting and Subsetting:
# Complete all following Task:
# â€¢ Dataset for the Task: "titanic.csv"
# Following task is common for all the problem:
# 1. Load the provided dataset and import in pandas DataFrame.
# 2. Check info of the DataFrame and identify following:

import pandas as pd

 # Load the dataset
titanic_df = pd.read_csv('Titanic-Dataset.csv')

# Check info of the DataFrame
print("Dataset Info:")
print(titanic_df.info())
print("\nFirst 5 rows:")
print(titanic_df.head())

#1. Create a DataFrame called fare that contains only the Fare column
fare = titanic_df[['Fare']]
print("Fare DataFrame (first 5 rows):")
print(fare.head())

#2. Create a DataFrame called class_age that contains Pclass and Age columns
class_age = titanic_df[['Pclass', 'Age']]
print("\nClass and Age DataFrame (first 5 rows):")
print(class_age.head())

#3. Create a DataFrame called survived_gender that contains Survived and Sex columns
survived_gender = titanic_df[['Survived', 'Sex']]
print("\nSurvived and Gender DataFrame (first 5 rows):")
print(survived_gender.head())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

First 5 rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Fare DataFrame (first 5 rows):
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Class and Age DataFrame (first 5 rows):
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Survived and Gender DataFrame (first 5 rows):
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [5]:
# Problem 2 - Subsetting
# Subsetting Rows:
# 1. Filter for fare > 100
fare_gt_100 = titanic_df[titanic_df['Fare'] > 100]
print(f"Passengers with fare > 100: {len(fare_gt_100)}")
print("First 5 rows:")
print(fare_gt_100.head())

# 2. Filter for first class passengers (Pclass = 1)
first_class = titanic_df[titanic_df['Pclass'] == 1]
print(f"\nFirst class passengers: {len(first_class)}")
print("First 5 rows:")
print(first_class.head())

# 3. Filter for female passengers under 18
female_under_18 = titanic_df[(titanic_df['Age'] < 18) & (titanic_df['Sex'] == 'female')]
print(f"\nFemale passengers under 18: {len(female_under_18)}")
print("First 5 rows:")
print(female_under_18.head())

Passengers with fare > 100: 53
First 5 rows:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

First class passengers: 216
First 5 rows:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

Female passengers under 18: 55
First 5 rows:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

In [6]:
#Subsetting Rows by Categorical variables:
# 1. Filter for passengers embarked at 'C' or 'S'
embarked_c_or_s = titanic_df[titanic_df['Embarked'].isin(['C', 'S'])]
print(f"Passengers embarked at C or S: {len(embarked_c_or_s)}")
print("First 5 rows:")
print(embarked_c_or_s.head())

# 2. Filter for first or second class passengers
first_second_class = titanic_df[titanic_df['Pclass'].isin([1, 2])]
print(f"\nFirst or second class passengers: {len(first_second_class)}")
print("First 5 rows:")
print(first_second_class.head())

Passengers embarked at C or S: 812
First 5 rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

First or second class passengers: 400
First 5 rows:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

In [7]:
# 3.2 Exploratory Data Analysis Practice Exercise - 1
# Which passenger had the highest fare paid relative to their age?
# Create a copy of the dataframe to avoid SettingWithCopyWarning
titanic_eda = titanic_df.copy()

# Handle missing values in Age column by filling with median age
median_age = titanic_eda['Age'].median()
titanic_eda['Age'] = titanic_eda['Age'].fillna(median_age)

# Add fare_per_year column
titanic_eda['fare_per_year'] = titanic_eda['Fare'] / titanic_eda['Age']

# Subset rows where fare_per_year > 5
high_fare_age = titanic_eda[titanic_eda['fare_per_year'] > 5]

# Sort by descending fare_per_year
high_fare_age_srt = high_fare_age.sort_values('fare_per_year', ascending=False)

# Select only Name and fare_per_year columns
result = high_fare_age_srt[['Name', 'fare_per_year']]

print("Passengers with highest fare per year (first 10):")
print(result.head(10))

print(f"\nThe passenger with highest fare relative to age is: {result.iloc[0]['Name']}")
print(f"With fare per year of: {result.iloc[0]['fare_per_year']:.2f}")

Passengers with highest fare per year (first 10):
                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000
827            Mallet, Master. Andre      37.004200
78     Caldwell, Master. Alden Gates      34.939759
644           Baclini, Miss. Eugenie      25.677733
469    Baclini, Miss. Helene Barbara      25.677733
831  Richards, Master. George Sibley      22.590361

The passenger with highest fare relative to age is: Allison, Master. Hudson Trevor
With fare per year of: 164.73

In [8]:
# Which adult male passenger paid the highest fare relative to their class?
# Add fare_per_class column
titanic_eda['fare_per_class'] = titanic_eda['Fare'] / titanic_eda['Pclass']

# Subset for adult male passengers
adult_males = titanic_eda[(titanic_eda['Sex'] == 'male') & (titanic_eda['Age'] >= 18)]

# Sort by descending fare_per_class
adult_males_srt = adult_males.sort_values('fare_per_class', ascending=False)

# Select required columns
result_males = adult_males_srt[['Name', 'Age', 'fare_per_class']]

print("Adult male passengers with highest fare per class (first 10):")
print(result_males.head(10))

print(f"\nThe adult male passenger with highest fare relative to class is: {result_males.iloc[0]['Name']}")
print(f"Age: {result_males.iloc[0]['Age']}, Fare per class: {result_males.iloc[0]['fare_per_class']:.2f}")

Adult male passengers with highest fare per class (first 10):
                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
557                 Robbins, Mr. Victor  28.0        227.5250
527                  Farthing, Mr. John  28.0        221.7792
377           Widener, Mr. Harry Elkins  27.0        211.5000
332           Graham, Mr. George Edward  38.0        153.4625
373                 Ringhini, Mr. Sante  22.0        135.6333

The adult male passenger with highest fare relative to class is: Lesurer, Mr. Gustave J
Age: 35.0, Fare per class: 512.33

In [9]:
# 3.3 Exploratory Data Analysis with Group-by Method Practice Exercise
# What percent of the total fare revenue came from each passenger class?
# Calculate total fare
total_fare = titanic_df['Fare'].sum()
print(f"Total fare revenue: {total_fare:.2f}")

# Calculate fare by class
fare_by_class = titanic_df.groupby('Pclass')['Fare'].sum()
print("\nFare revenue by class:")
print(fare_by_class)

# Calculate percentage
percentage_by_class = (fare_by_class / total_fare) * 100
print("\nPercentage of total fare revenue by class:")
for pclass, percentage in percentage_by_class.items():
    print(f"Class {pclass}: {percentage:.2f}%")

Total fare revenue: 28693.95

Fare revenue by class:
Pclass
1    18177.4125
2     3801.8417
3     6714.6951
Name: Fare, dtype: float64

Percentage of total fare revenue by class:
Class 1: 63.35%
Class 2: 13.25%
Class 3: 23.40%

In [13]:
# What percent of the total number of passengers belonged to each age group?
# Create age_group column
def categorize_age(age):
    if pd.isna(age):
        return 'Unknown'
    elif age < 18:
        return 'Child'
    elif age < 65:
        return 'Adult'
    else:
        return 'Senior'

titanic_df['age_group'] = titanic_df['Age'].apply(categorize_age)

# Calculate total number of passengers
total_passengers = len(titanic_df)
print(f"Total passengers: {total_passengers}")

# Count passengers in each age group
age_group_counts = titanic_df['age_group'].value_counts()
print("\nPassengers by age group:")
print(age_group_counts)

# Calculate percentage
age_group_percentage = (age_group_counts / total_passengers) * 100
print("\nPercentage of passengers by age group:")
for group, percentage in age_group_percentage.items():
    print(f"{group}: {percentage:.2f}%")

Total passengers: 891

Passengers by age group:
age_group
Adult      590
Unknown    177
Child      113
Senior      11
Name: count, dtype: int64

Percentage of passengers by age group:
Adult: 66.22%
Unknown: 19.87%
Child: 12.68%
Senior: 1.23%